<div class="container-fluid">
  <div class="row">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      </ol>

  <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <% @images.where(id:1).each do |image| %>
            <%= image_tag image.photo.url(:big), class: 'img-responsive' %>
              <div class="carousel-caption">
              <h2>  <%= image.text %> </h2>
              <a href="#" class="btn btn-group" role="button">Забронировать</a>
              </div>
          <%end %>
        </div>
        <div class="item">
          <% @images.where(id:2).each do |image| %>
            <%= image_tag image.photo.url(:big), class: 'img-responsive' %>
              <div class="carousel-caption">
                <h2>  <%= image.text %> </h2>
                <a href="#" class="btn btn-group" role="button">Забронировать</a>
              </div>
          <%end %>
        </div>
        <div class="item">
          <% @images.where(id:3).each do |image| %>
            <%= image_tag image.photo.url(:big) %>
            <div class="carousel-caption">
              <h2>  <%= image.text %> </h2>
              <a href="#" class="btn btn-group" role="button">Забронировать</a>
              </div>
          <%end %>
        </div>
        <div class="item">
          <% @images.where(id:4).each do |image| %>
            <%= image_tag image.photo.url(:big) %>
            <div class="carousel-caption">
              <h2>  <%= image.text %> </h2>
              <a href="#" class="btn btn-group" role="button">Забронировать</a>
              </div>
          <%end %>
        </div>
      </div>

  <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div id="booking_iframe">
</div>
<script type="text/javascript">

var BookingIframe = new BookingIframe({

html_id: 'booking_iframe',

uid: 'e8066646-b9cc-4ae2-b5e3-08aebdc3e14c',

lang: 'ru',

width: 'auto',

height: 'auto',

rooms: ''

})

BookingIframe.init()

</script>

<!-- Об отеле -->
<div class="container">
  <div class="row">
  <% @sheets.where(id:2).each do |gallery| %>
    <p>  <%= gallery.text.html_safe %> </p>
  <% end %>
  </div>
</div>

<!-- Комнаты -->
<div class="container-fluid">
  <div class="rooms">
    <div class="row">
      <div class="col-md-6">
        <h2>Стандарт</h2>
              <% @images.where(id:5).each do |gallery| %>
                        <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room1",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                        <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'img-responsive' %>
                        <% end %>
                        <% end %>

                      <div class="">
                          <% @images.where(id:6).each do |gallery| %>
                          <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room1",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                          <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                          <% end %>
                          <% end %>
                          <% @images.where(id:7).each do |gallery| %>
                          <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room1",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                          <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                          <% end %>
                          <% end %>
                          <% @images.where(id:8).each do |gallery| %>
                          <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room1",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                          <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                          <% end %>
                          <% end %>
                          <% @images.where(id:9).each do |gallery| %>
                          <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room1",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                          <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                          <% end %>
                          <% end %>
                          <% @images.where(id:10).each do |gallery| %>
                          <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room1",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                          <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                          <% end %>
                          <% end %>
                          <% @images.where(id:11).each do |gallery| %>
                          <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room1",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                          <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                          <% end %>
                          <% end %>
                        </div>
                        <p> <% @sheets.where(id:3).each do |gallery| %>
                        <%= gallery.text.html_safe %>
                        <% end %> </p>
                      </div>
                      <div class="col-md-6">
                        <h2>Комфорт</h2>
                          <% @images.where(id:12).each do |gallery| %>
                          <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room2",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                          <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'img-responsive' %>
                          <% end %>
                          <% end %>

                          <div class="">
                            <% @images.where(id:13).each do |gallery| %>
                            <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room2",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                            <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                            <% end %>
                            <% end %>
                            <% @images.where(id:14).each do |gallery| %>
                            <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room2",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                            <%= image_tag gallery.photo.url(:medium), alt: 'nordplan' , class: 'image-size' %>
                            <% end %>
                            <% end %>
                            <% @images.where(id:15).each do |gallery| %>
                            <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room2",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                            <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                            <% end %>
                            <% end %>
                            <% @images.where(id:16).each do |gallery| %>
                            <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room2",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                            <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                            <% end %>
                            <% end %>
                            <% @images.where(id:17).each do |gallery| %>
                            <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room2",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                            <%= image_tag gallery.photo.url(:medium), alt: 'nordplan' , class: 'image-size' %>
                            <% end %>
                            <% end %>
                            <% @images.where(id:18).each do |gallery| %>
                            <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room2",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                            <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                            <% end %>
                            <% end %>
                          </div>
                          <p> <% @sheets.where(id:4).each do |gallery| %>
                          <%= gallery.text.html_safe %>
                          <% end %> </p>
                        </div>
                      </div>
                    </div>
                  </div>

<!-- Галлерея -->
<div class="container-fluid">
  <div class="row">
    <div class="gallery main">
      <h2>Галерея</h2>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <% @galleries.each_slice(3) do |row| %>
            <% row.each do |gallery| %>
              <div class="swiper-slide">
                <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "yeah!",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'img-responsive' %>
                <% end %>
              </div>
              <% end %>
              <% end %>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
</div>
</div>
</div>
</div>


<!-- Карта -->
<div id="map" style="width: 100%; height: 400px" class="main"></div>

<!-- Контакты -->
<div class="container">
  <div class="row">
    <div class="contacts main">
      <% @sheets.where(id:1).each do |gallery| %>
        <p>  <%= gallery.text.html_safe %> </p>
      <% end %>
      </div>
  </div>
</div>

    <div id="booking_iframe"></div>

    <script src="https://widget.reservationsteps.ru/iframe/library/dist/booking_iframe.js"></script>

    <script type="text/javascript">

    var BookingIframe = new BookingIframe({

    html_id: 'booking_iframe',

    uid: 'e8066646-b9cc-4ae2-b5e3-08aebdc3e14c',

    lang: 'ru',

    width: 'auto',

    height: 'auto',

    rooms: ''

    })

    BookingIframe.init()

    </script>


<script type="text/javascript">
ymaps.ready(init);
function init(){
var Map = new ymaps.Map("map", {
center: [59.93834465890506,30.370218325006345],
controls: ['zoomControl'],
behaviors: ['drag'],
zoom: 17
});
};
</script>
