<div class="container-fluid">


    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "slide1.jpg" , class: 'img-responsive '%>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag "slide2.jpg" , class: 'img-responsive '%>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag "slide3.jpg" , class: 'img-responsive '%>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag "slide4.jpg" , class: 'img-responsive '%>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag "slide5.jpg" , class: 'img-responsive '%>
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="main">

</div>

<!-- Комнаты -->

<div class="rooms">
  <h2>Номера</h2>
  <div class="row">
    <div class="col-md-6">
      <h3>Стандарт</h3>
      <% @images.where(id:1).each do |gallery| %>
                <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room1",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'img-responsive' %>
          <% end %>
      <% end %>
      <% @images.where(id:2).each do |gallery| %>
                <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room1",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
          <% end %>
      <% end %>
      <% @images.where(id:3).each do |gallery| %>
                <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room1",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
          <% end %>
      <% end %>
    <p>• 18-20 м2
      • Душ/туалет
      • Фен
      • Банные и косметические принадлежности, тапочки
      • Беспроводной интернет Wi-Fi
      • Телефон, городская линия
      • Письменный стол
      • Шкаф
      • Ж\к телевизор
      • Кабельное TV
      • 1 двуспальная или 2 односпальные кровати
      • Зеркало в полный рост
      • есть возможность поставить доп.кровать
      • сейф
      • холодильник
      • микроволновая печь
      • кондиционер
      • полы с подогревом</p>
    </div>

    <div class="col-md-6">
      <h3>Комфорт</h3>
      <% @images.where(id:1).each do |gallery| %>
                <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room2",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'img-responsive' %>
          <% end %>
      <% end %>
      <% @images.where(id:2).each do |gallery| %>
                <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room2",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
          <% end %>
      <% end %>
      <% @images.where(id:3).each do |gallery| %>
                <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room2",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
          <% end %>
      <% end %>
        <p>
          • 18-20 м2
          • Душ/туалет
          • Фен
          • Банные и косметические принадлежности, тапочки
          • Беспроводной интернет Wi-Fi
          • Телефон, городская линия
          • Письменный стол
          • Шкаф
          • Ж\к телевизор
          • Кабельное TV
          • 1 двуспальная или 2 односпальные кровати
          • Зеркало в полный рост
          • есть возможность поставить доп.кровать
          • сейф
          • холодильник
          • микроволновая печь
          • кондиционер
          • полы с подогревом</p>
      </div>
  </div>
</div>
<!-- Об отеле -->

<div class="about">
  <h2>Об отеле</h2>
  <div class="row">
    <div class="col-md-5">
      <%= image_tag "index1.jpg" , class: 'img-responsive '%>
    </div>
    <div class="col-md-7">
      <p>Отель «Forte Inn» расположен в самом сердце Санкт-Петербурга, на углу Греческого проспекта и улицы 9ой Советской. В десяти минутах ходьбы от ст.м. Площадь Восстания (Московский вокзал) или Чернышевская. В пешей доступности находится самый знаменитый проспект нашего города – Невский, от отеля до Большого Концертного Зала «Октябрьский» можно добраться за 5 минут.
Отель «Forte Inn» расположен в тихом дворе старинного Петербургского дома в отдельно стоящем здании.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <p>Вас ждут номера категории «стандарт»- 4 номера TWIN/DBL и 3 номера - категории «комфорт» с кроватью King size, способные удовлетворить желания любого туриста или бизнесмена. Каждый номер оснащён индивидуальным санузлом с теплым полом, ЖК телевизором, спутниковым ТВ, кондиционером, высокоскоростным интернетом и удобными, современными кроватями с ортопедическими матрацами, банными и косметическими принадлежностями.Обстановка номеров выдержана в спокойной современной стилистике, окна выходят на сквер в тихом петербургском дворике. Отель подойдет как для молодых пар, так и для семей, приезжающих отдыхать с маленькими постояльцами.
В нашем отеле Вы сможете отлично отдохнуть после прогулок по нашему прекрасному городу или после деловых встреч. Здесь царит атмосфера домашнего уюта, а каждый клиент ощущает на себе заботу и участие со стороны персонала отеля.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "index1.jpg" , class: 'img-responsive ' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <p>Сотрудники отеля с удовольствием помогут Вам заказать такси, билеты на поезд или самолет, экскурсии, билеты в театр, столик в ресторане, цветы и многое другое. В любой ситуации вы можете рассчитывать на помощь и чуткое отношение с нашей стороны.</p>
    </div>
    <div class="col-md-7">
      <%= image_tag "index1.jpg" , class: 'img-responsive '%>
    </div>
  </div>
</div>

<!-- Галлерея -->

<div class="gallery main">
  <h2>Галерея</h2>
  <div class="row">
  <% @galleries.each_slice(3) do |row| %>
      <% row.each do |gallery| %>
            <div class="col-sm-4 col-lg-4">
            <div class="gallery-img">
            <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "yeah!",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
            <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'img-responsive' %>
          <% end %>
          </div>
        </div>
      <% end %>
  <% end %>
  </div>
</div>



<div id="map" style="width: 100%; height: 400px" class="main"></div>

<div class="contacts main">
<p>
Телефон отеля:<br>
<a href="tel:+79214390698" class="tel">+7(921)439-06-98</a>
<br>
<a href="tel:+78123094101" class="tel">+7(812)309-41-01</a>
 <br>
E-mail: <br>
<a href="mailto:booking@forteinn.ru">booking@forteinn.ru</a>
<br>
<a href="mailto:manager@forteinn.ru">manager@forteinn.ru</a>

</div>
</div>
<!--
    <div id="booking_iframe"></div>

    <script src="https://widget.reservationsteps.ru/iframe/library/dist/booking_iframe.js"></script>

    <script type="text/javascript">

    var BookingIframe = new BookingIframe({

    html_id: 'booking_iframe',

    uid: 'e8066646-b9cc-4ae2-b5e3-08aebdc3e14c',

    lang: 'ru',

    width: 'auto',

    height: 'auto',

    rooms: ''

    })

    BookingIframe.init()

    </script>
</div>
-->
<script type="text/javascript">
ymaps.ready(init);
function init(){
var Map = new ymaps.Map("map", {
center: [59.93834465890506,30.370218325006345],
controls: ['zoomControl'],
behaviors: ['drag'],
zoom: 17
});
};
</script>
