<!DOCTYPE html>
<html>
  <head>
    <title>Forteinn</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Rubik|Ubuntu+Mono&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=2c47806b-0f92-4034-90c9-047f883c400c&lang=ru_RU" type="text/javascript"></script>

  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Настройки</a>
          </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              <li>
                <%= active_link_to 'На сайт', root_path, active: :exact, wrap_tag: :li %>
              </li>
              <li>
                <%= active_link_to 'Галерея', '/admin/galleries', wrap_tag: :li %>
              </li>
              <li>
                <%= active_link_to 'Картинки', '/admin/images', wrap_tag: :li %>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <%= yield %>
  </body>
</html>
