<% if @sheet.errors.present? %>
  <%= @sheet.errors.full_messages%>
<% end %>

<%= form_for [:admin, @sheet], html: { multipart: true } do |form| %>
  <div class="form-group">
  <%= form.text_area :text, :class => "tinymce", :rows => 40, :cols => 120 %>
   <%= tinymce %>
  <%= form.submit 'Сохранить', class: 'btn btn-default'%>
    </div>
<% end %>
