<%= link_to 'Создать', new_admin_sheet_path, class: 'btn btn-default' %>
<table class="table">
  <thead>
    <tr>
      <th>Text</th>
      <th>Item</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sheets.each do |sheet| %>
      <tr>
        <td>
          <%= sheet.text %>
        </td>
        <td>
          <%= link_to 'Редактировать', edit_admin_sheet_path(sheet), class: 'btn btn-default' %></td>
        </td>
        <td>
          <%= link_to 'Удалить', admin_sheet_path(sheet), class: 'btn btn-default',
          method: :delete,
          data: { confirm: 'Продолжить?' } %>
        </td>
    </tr>
    <% end %>
  </tbody>
