<% if @sheet.errors.present? %>
  <%= @sheet.errors.full_messages%>
<% end %>

<%= form_for [:admin, @sheet], html: { multipart: true } do |form| %>
  <div class="form-group">

  <%= form.text_area :text %>
  <%= form.submit 'Создать', class: 'btn btn-default'%>
  </div>
<% end %>
