body
  font-family: 'PT Sans', sans-serif
  font-size: 20px
.logo
  font-family: 'Rubik', sans-serif
  max-width: 50%
  position: absolute
  top: 50px
  @media (max-width: $screen-xs-max)
    position: inherit
    top: 0px
.logo > img
  width: 50%
  @media (max-width: $screen-xs-max)
    width: 100%
.logo2
  font-family: 'Ubuntu Mono', monospace
.carousel
  @media (max-width: $screen-xs-min)
    margin-top: 130px
.centr
  margin-left: auto
  margin-right: auto
.nav > li
  text-align: center
.swiper-container
    width: 600px
    height: 300px
  @media (max-width: $screen-xs-min)
    width: auto
    margin-left: auto
    margin-right: auto
  @media (min-width: 768px) and (max-width: 991px)
    width: auto
.navbar-brand
  margin-left: 15px
  color: white
.navbar-default
  background-color: white
  border: none
.navbar-default .navbar-nav > li > a
  color: #555
  &:hover
    color: #555
    text-shadow: 4px 5px 8px #88CEC7
  @media (min-width: 768px) and (max-width: 991px)
    font-size: 16px
  @media (max-width: $screen-xs-max)
    border-left: none
.navbar-default .navbar-nav > .active > a
  background-color: white
.text
  position: relative
.main
  margin-top: 30px
.contacts
  text-align: center
.about > h2
  text-align: center
.gallery
  text-align: center
.footer
  background-color: #57383f
  a
    color: white
.image-tab
  position: relative
.text-tab > p
  position: absolute
  top: 50px
  left: 50px
  width: 325px
  margin: 0 auto
  width: auto
  height: 50px
  color: white
.tel
  color: #57383f
  @media (max-width: $screen-xs-max)
    z-index: 1000
    position: absolute
    font-size: 17px
  &:hover
    text-decoration: none
    color: #57383f
.btn
  background-color: #57383f
  color: white
  font-size: 20px
.carousel-indicators
  bottom: 10px
.rooms
  text-align: center
.margin-top-15
  margin-top: 15px
.image-size
  max-width: 30%
  margin-top: 15px
  margin: 5px
.grid
  position: relative
  margin: 0 auto
  padding: 1em 0 4em
  list-style: none
  text-align: center
.grid h2
  font-size: 30px


/* Common style */
.grid figure
  position: relative
  float: left
  overflow: hidden
  margin: 10px 1%
  width: 100%
  background: #3085a3
  text-align: center
  cursor: pointer

.grid figure img
  position: relative
  display: block
  min-height: 100%
  max-width: 100%
  opacity: 0.8


.grid figure figcaption
  padding: 1em
  color: #fff
  font-size: 1.25em
  -webkit-backface-visibility: hidden
  backface-visibility: hidden

.grid figure figcaption
  &:before
    pointer-events: none
.grid figure figcaption
  &:after
    pointer-events: none

.grid figure figcaption
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.grid figure figcaption > a
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a
  z-index: 1000
  text-indent: 200%
  white-space: nowrap
  font-size: 0
  opacity: 0

.grid figure h2
  word-spacing: -0.15em
  font-weight: 300

.grid figure h2
  span
    font-weight: 800

.grid figure h2
  margin: 0

.grid figure p
  margin: 0

.grid figure p
  letter-spacing: 1px
  font-size: 68.5%

figure.effect-roxy
  background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%)
  background: linear-gradient(45deg, #090909 0%,#083442 100%)


figure.effect-roxy img
  max-width: none
  width: -webkit-calc(100% + 60px)
  width: calc(100% + 60px)
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s
  transition: opacity 0.35s, transform 0.35s
  -webkit-transform: translate3d(-50px,0,0)
  transform: translate3d(-50px,0,0)


figure.effect-roxy figcaption
  &:before
    position: absolute
    top: 30px
    right: 30px
    bottom: 30px
    left: 30px
    border: 1px solid #fff
    content: ''
    opacity: 0
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s
    transition: opacity 0.35s, transform 0.35s
    -webkit-transform: translate3d(-20px,0,0)
    transform: translate3d(-20px,0,0)


figure.effect-roxy figcaption
  text-align: center


figure.effect-roxy h2
  padding: 5% 0 10px 0


figure.effect-roxy p
  opacity: 0
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s
  transition: opacity 0.35s, transform 0.35s
  -webkit-transform: translate3d(-10px,0,0)
  transform: translate3d(-10px,0,0)


figure.effect-roxy:hover img
  opacity: 0.1
  -webkit-transform: translate3d(0,0,0)
  transform: translate3d(0,0,0)


figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p
  opacity: 1
  -webkit-transform: translate3d(0,0,0)
  transform: translate3d(0,0,0)
