<% if @image.errors.present? %>
  <%= @image.errors.full_messages%>
<% end %>

<%= form_for [:admin, @image], html: { multipart: true } do |form| %>
  <div class="form-group">
  <%= form.text_area :text %>
  <%= form.file_field :photo %>
  <%= form.submit 'Сохранить', class: 'btn btn-default'%>
    </div>
<% end %>
