<%= link_to 'Создать', new_admin_image_path, class: 'btn btn-default' %>
<table class="table">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Text</th>
      <th>Item</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td>
          <%= image_tag image.photo.url(:small) %>
        </td>
        <td>
          <%= image.text %>
        </td>
        <td>
          <%= link_to 'Редактировать', edit_admin_image_path(image), class: 'btn btn-default' %></td>
        </td>
        <td>
          <%= link_to 'Удалить', admin_image_path(image), class: 'btn btn-default',
          method: :delete,
          data: { confirm: 'Продолжить?' } %>
        </td>
    </tr>
    <% end %>
  </tbody>
