<div class="container-fluid">


    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <% @images.where(id:1).each do |image| %>
          <%= image_tag image.photo.url(:big) %>
          <%= link_to 'Редактировать',edit_admin_image_path(image), class: 'btn btn-default centr' %>
      <div class="carousel-caption">
        <h2>  <%= image.text %> </h2>
          <%= link_to 'Редактировать',edit_admin_image_path(image), class: 'btn btn-default' %>
        <%end %>
      </div>
    </div>
    <div class="item">
      <% @images.where(id:2).each do |image| %>
          <%= image_tag image.photo.url(:big) %>
          <%= link_to 'Редактировать',edit_admin_image_path(image), class: 'btn btn-default' %>
      <div class="carousel-caption">
        <h2>  <%= image.text %> </h2>
          <%= link_to 'Редактировать',edit_admin_image_path(image), class: 'btn btn-default' %>
        <%end %>
      </div>
    </div>
    <div class="item">
      <% @images.where(id:3).each do |image| %>
          <%= image_tag image.photo.url(:big) %>
          <%= link_to 'Редактировать',edit_admin_image_path(image), class: 'btn btn-default' %>
      <div class="carousel-caption">
        <h2>  <%= image.text %> </h2>
          <%= link_to 'Редактировать',edit_admin_image_path(image), class: 'btn btn-default' %>
        <%end %>
      </div>
    </div>
    <div class="item">
      <% @images.where(id:4).each do |image| %>
          <%= image_tag image.photo.url(:big) %>
          <%= link_to 'Редактировать',edit_admin_image_path(image), class: 'btn btn-default' %>
          <div class="carousel-caption">
          <h2>  <%= image.text %> </h2>
          <%= link_to 'Редактировать',edit_admin_image_path(image), class: 'btn btn-default' %>
          <%end %>
      </div>
    </div>
  </div>

  <!-- Controls -->
</div>

<!-- Отеле -->

<% @sheets.where(id:2).each do |gallery| %>
<p>  <%= gallery.text.html_safe %> </p>
<%= link_to 'Редактировать',edit_admin_sheet_path(gallery), class: 'btn btn-default centr' %>
<% end %>

<!-- Комнаты -->

<div class="container-fluid">
  <div class="rooms">
    <div class="row">
      <div class="col-md-6">
        <h2>Стандарт</h2>
        <div class="col-md-6">
              <% @images.where(id:5).each do |gallery| %>
                        <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room1",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                        <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'img-responsive' %>
                        <%= link_to 'Редактировать',edit_admin_image_path(gallery), class: 'btn btn-default' %>
                        <% end %>
                        <% end %>
                      </div>
                      <div class="col-md-6">
                        <p> <% @sheets.where(id:3).each do |gallery| %>
                        <%= gallery.text.html_safe %>
                        <%= link_to 'Редактировать',edit_admin_sheet_path(gallery), class: 'btn btn-default' %>
                        <% end %> </p>
                      </div>
                      <div class="">
                          <% @images.where(id:6).each do |gallery| %>
                          <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room1",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                          <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                          <% end %>
                          <% end %>
                          <% @images.where(id:7).each do |gallery| %>
                          <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room1",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                          <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                          <% end %>
                          <% end %>
                          <% @images.where(id:8).each do |gallery| %>
                          <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room1",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                          <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                          <% end %>
                          <% end %>
                          <% @images.where(id:9).each do |gallery| %>
                          <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room1",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                          <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                          <% end %>
                          <% end %>
                          <% @images.where(id:10).each do |gallery| %>
                          <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room1",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                          <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                          <% end %>
                          <% end %>
                          <% @images.where(id:11).each do |gallery| %>
                          <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room1",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                          <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                          <% end %>
                          <% end %>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <h2>Комфорт</h2>
                        <div class="col-md-6">
                          <% @images.where(id:12).each do |gallery| %>
                          <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room2",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                          <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'img-responsive' %>
                          <%= link_to 'Редактировать',edit_admin_image_path(gallery), class: 'btn btn-default' %>
                          <% end %>
                          <% end %>
                        </div>
                        <div class="col-md-6">
                          <p> <% @sheets.where(id:4).each do |gallery| %>
                          <%= gallery.text.html_safe %>
                          <%= link_to 'Редактировать',edit_admin_sheet_path(gallery), class: 'btn btn-default centr' %>
                          <% end %> </p>
                          </div>
                          <div class="">
                            <% @images.where(id:13).each do |gallery| %>
                            <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room2",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                            <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                            <% end %>
                            <% end %>
                            <% @images.where(id:14).each do |gallery| %>
                            <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room2",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                            <%= image_tag gallery.photo.url(:medium), alt: 'nordplan' , class: 'image-size' %>
                            <% end %>
                            <% end %>
                            <% @images.where(id:15).each do |gallery| %>
                            <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room2",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                            <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                            <% end %>
                            <% end %>
                            <% @images.where(id:16).each do |gallery| %>
                            <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room2",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                            <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                            <% end %>
                            <% end %>
                            <% @images.where(id:17).each do |gallery| %>
                            <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room2",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                            <%= image_tag gallery.photo.url(:medium), alt: 'nordplan' , class: 'image-size' %>
                            <% end %>
                            <% end %>
                            <% @images.where(id:18).each do |gallery| %>
                            <%= link_to gallery.photo.url(:big), :"data-fresco-group" => "room2",:"data-fresco-caption" => gallery.text, class: 'fresco' do %>
                            <%= image_tag gallery.photo.url(:medium), alt: 'nordplan', class: 'image-size' %>
                            <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

<div id="map" style="width: 100%; height: 400px" class="main"></div>

<div class="contacts main">
  <% @sheets.where(id:1).each do |gallery| %>
  <p>  <%= gallery.text.html_safe %> </p>
  <%= link_to 'Редактировать',edit_admin_sheet_path(gallery), class: 'btn btn-default centr' %>
<% end %>
</div>

</div>
