<div class="navbar-wrapper navbar-fixed-top">
  <nav class="navbar navbar-default ">
    <div class="container">
      <div class="row">

        <div class="col-md-8">
          <a class="logo" href="#">
            <%= image_tag "logo13.png" , class: 'img-responsive'%>
          </a>
            <a href="tel:+78123094101" class="tel hidden-xs">
              <svg class="hidden-xs" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve" width="25" height="25">
                <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
                <g><path d="M10.6,760.4"/><path   d="M500,38.1c62.4,0,122.9,12.2,179.8,36.3c55,23.3,104.4,56.6,146.8,99c42.4,42.4,75.7,91.8,99,146.8c24.1,56.9,36.3,117.4,36.3,179.8c0,62.4-12.2,122.9-36.3,179.8c-23.3,55-56.6,104.4-99,146.8c-42.4,42.4-91.8,75.7-146.8,99c-56.9,24.1-117.4,36.3-179.8,36.3c-62.4,0-122.8-12.2-179.8-36.3c-55-23.3-104.4-56.6-146.8-99c-42.4-42.4-75.7-91.8-99-146.8C50.3,622.9,38.1,562.4,38.1,500c0-62.4,12.2-122.8,36.3-179.8c23.3-55,56.6-104.4,99-146.8c42.4-42.4,91.8-75.7,146.8-99C377.2,50.3,437.6,38.1,500,38.1  M500,10C229.4,10,10,229.4,10,500c0,270.6,219.4,490,490,490c270.6,0,490-219.4,490-490C990,229.4,770.6,10,500,10L500,10L500,10z   M444.3,564.5c22.2,22.3,53.4,42,53.4,42s39.4,29.1,68.4,11.5c62.1-38,60.6-51.3,91-34.1c106.3,59.5,101.9,99,99.3,108.7c-10.6,38.2-80.2,69.2-156.1,50.2c-76.3-19-152.6-59.2-214.1-120.2C325.2,561.2,285,484.9,266,408.5c-18.9-75.9,12-145.4,50.3-156.1c9.8-2.7,49.2-7.1,108.8,99.1c17,30.6,3.9,29.1-34.1,91.2c-17.8,29,11.3,68.4,11.3,68.4S422.1,542.3,444.3,564.5L444.3,564.5L444.3,564.5z"/></g>
            </svg>
            +7(812)309-41-01</a>
            <a href="mailto:booking@forteinn.ru" class="tel hidden-xs">
              <svg class="hidden-xs" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve" width="25" height="25">
                <g><g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)"><path d="M4573.2,4992.3c-949.5-81.4-1887.2-452.9-2642-1046.9c-178.8-141-627.7-590-768.8-768.8c-248.3-317.8-490.7-717.1-641.6-1062.8C-162.6,552.5-5.7-1241.4,933.9-2643.8c188.7-280.1,317.8-437,597.9-717.1c280.1-280.1,437-409.2,717.1-597.9c379.4-254.3,772.7-445,1211.8-590c1396.5-456.9,2987.7-256.3,4191.5,526.4c345.7,224.5,520.5,367.5,816.4,661.5c399.3,401.3,685.3,796.6,919.8,1271.4c754.9,1537.5,669.4,3351.2-224.5,4799.4c-250.3,405.2-737,953.5-1094.6,1235.6C7076.2,4724.1,5824.7,5099.5,4573.2,4992.3z M5655.9,4666.5c1511.7-234.4,2801-1176,3476.4-2542.7c323.8-655.5,464.9-1269.4,464.9-2016.3c0-441-27.8-693.3-121.2-1072.7C9070.7-2627.9,7735.7-3962.9,6073-4368.1c-379.4-93.4-631.7-121.2-1072.7-121.2c-746.9,0-1360.8,141.1-2016.3,464.8c-1094.6,542.3-1966.6,1529.6-2340.1,2654c-182.8,552.2-240.4,905.8-240.4,1478c0,433.1,25.8,681.4,117.2,1062.8C832.6,2483.3,1756.4,3635.5,2984,4239.4c516.5,254.3,1029,397.3,1668.7,464.8C4817.5,4722.1,5455.2,4696.3,5655.9,4666.5z"/><path d="M2405.9,2272.8c-23.8-7.9-61.6-41.7-85.4-71.5c-37.7-49.7-41.7-77.5-41.7-347.6v-296h158.9h158.9v196.7v198.6l85.4,9.9c45.7,6,1124.4,9.9,2397.7,6l2314.3-4l6-202.6l6-204.6h156.9h158.9v298v298l-57.6,63.6l-57.6,65.5l-2580.5,4C3607.8,2288.6,2427.8,2282.7,2405.9,2272.8z"/><path d="M2282.8-194.5c6-1468,6-1476,49.7-1555.4c57.6-107.3,172.8-218.5,282.1-272.1l91.4-45.7h2294.4c2576.5,0,2354-13.9,2532.8,151c51.6,47.7,111.2,121.2,135.1,166.9c43.7,79.5,43.7,85.4,49.7,1555.4c2,812.5-2,1472-9.9,1468C7590.7,1204,4984.4-156.7,4970.5-156.7c-17.9,0-2286.5,1209.8-2588.4,1380.6l-103.3,59.6L2282.8-194.5z M3856.1,69.7l1110.4-596l81.4,41.7c45.7,21.8,588,307.9,1207.8,633.7c619.8,327.8,1132.3,594,1138.3,594s7.9-536.4,6-1191.9l-6-1191.9l-55.6-53.6l-53.6-55.6H5012.2c-2481.1,0-2352-6-2395.7,115.2c-11.9,39.7-19.9,462.9-19.9,1219.7V743.2l75.5-37.7C2711.9,683.6,3246.2,399.5,3856.1,69.7z"/></g></g>
                </svg>booking@forteinn.ru</a>

        </div>
        <div class="col-md-4">
          <a href="#" class="btn btn-group navbar-right hidden-xs" role="button">Забронировать</a>
        </div>
        </div>

        <div class="navbar-header">
          <div class="">
            <a class="navbar-brand hidden-lg btn btn-group" href="#">Забронировать</a>
  
          </div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Об отеле</a></li>
            <li><a href="#">Номера</a></li>
            <li><a href="#">Галерея</a></li>
            <li><a href="#">Сотрудничество</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">ENG</a></li>
          </ul>
        </div>
      </div>
    </nav>
</div>
